@model PhotoManager.Models.PhotoModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PhotoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TakenDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TakenDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Camera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Camera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FocalLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FocalLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diaphragm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diaphragm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CameraLockSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CameraLockSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsedFlash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsedFlash)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.UsedFlash)
        </dt>

        <dd>
            <img src="data:image/png;base64,@Convert.ToBase64String(Model.ImageData,0,Model.ImageData.Length)" width="100" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
